<footer id="main-footer">
  <div class="widgets">
    <div class="container">
      <div class="row">
        <div class="span3">
          <h4><span class="icon-user"></span> Обо мне </h4>
          <p>Я Дашунечка. Я люблю петь и танцевать, люблю собачек. Люблю читать, писать, веселится и математику. Напишите мне и мы сделаем вместе что-то полезное.</p>
        </div>
        <div class="span3">
          <h4><span class="icon-tag"></span> Последние работы</h4>
          <p><a href="#">Выстрел из подводного ружья в саду золотых масок</a><br />
          <small><span class="icon-calendar"></span> 14/08/2014</small></p>
          <p><a href="#">Моя любимая книга</a><br />
          <small><span class="icon-calendar"></span> 08/08/2014</small></p>
          <p><a href="#">Конституция России в таблицах и схемах</a><br />
          <small><span class="icon-calendar"></span> 05/08/2014</small></p>
        </div>
        <div class="span3">
          <h4><span class="icon-plus"></span> Свяжитесь со мной</h4>
          <address>
            <p><span class="icon-map-marker"></span> 6 Плеханова, Киев, Украина</p>
            <p><span class="icon-envelope"></span> <a href="#">daria07@mail.ru</a></p>
            <p><span class="icon-phone"></span> (098) 312-08-13</p>
          </address>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-contact">
	<div class="container">
	  <div class="row">
		<p class="span5 copy">&copy; Copyright Даша Новоселецкая<br />
		<span class="quiet">2014 г.</span><br />
		<p class="span5 social"><a href="#" class="twitter"><span class="icon-twitter-sign"></span></a> <a href="#" class="facebook"><span class="icon-facebook-sign"></span></a> <a href="http://ua.linkedin.com/pub/дарья-новоселецкая/65/707/494" target="_blank" class="linkedin"><span class="icon-linkedin-sign"></span></a> <a href="#" class="pinterest"><span class="icon-pinterest-sign"></span></a> <a href="#" class="google-plus"><span class="icon-google-plus-sign"></span></a></p>
	  </div>
	</div>
  </div>
</footer>

<div id="contact">
  <ul>
	<li><span class="info"><a href="/контакты">(098) 312-08-13</a></span><a href="#"><span class="icon-phone" title="Phone"></span></a></li><br />
	<li><span class="info"><a href="/контакты">darina07@mail.ru</a></span><a href="#"><span class="icon-envelope" title="Email"></span></a></li><br />
	<li><span class="info"><a href="/контакты">@ledaidai</a></span><a href="#"><span class="icon-twitter" title="Twitter"></span></a></li><br />
	<li><span class="info"><a href="/контакты">/ledaidai</a></span><a href="#"><span class="icon-facebook" title="Facebook"></span></a></li><br />
  </ul>
</div>
