
<div class="menu-container">
  <%= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
</div>
<div class="container">
  <h1 id="site-name">
    <a href="#">Новоселецкая <span class="icon-pencil round"></span> Даша </a>
  </h1>
  <h2 class="separator tagline"><span>Мир есть текст</span></h2>
</div>