body {
  font-family: 'PT Sans', sans-serif;
}

body * {
  line-height: 1.5;
}

footer#main-footer {
  display: block;
  margin-top: 20px;
}

footer .widgets {
  background: image-url('grid_light.png');;
  border-top: 1px solid #eee;
  padding: 20px 0; }
 
footer .copy-contact {
  background: url('images/grid_dark.png');
  color: #eee !important;
  padding: 20px 0 10px;
  border-top: 1px #888 solid; }
 
  footer .copy-contact a:link, footer .copy-contact a:visited { color: #ccc; }  


.carousel-control.left {
  background: image-url('left-arrow.png');
  display: inline-block;
  width: 39px;
  height: 50px; 
  padding: 0;
}
 
.carousel-control.right {
  background: image-url('right-arrow.png');
  display: inline-block;
  width: 39px;
  height: 50px;
  padding: 0;
}

.border-img {
  border: 0;
  padding: 0;
}

h1, h2, h3 {
  margin-top: 0;
  color: #555;
}

a {
  color: #3420D3;
}

#body_content_title {
  display: none;
}

.container {
  width: 940px;
  padding: 10px 100px;
}

h2.tagline {
  margin: 0 0 20px;
}

h2.separator span {
  font-size: 18px;
  color: #666;
  font-weight: 400;
  font-style: italic;
  display: inline-block;
  background: #fff;
  position: relative;
  top: 14px;
  padding: 0 20px;
}

h2.separator {
  border-bottom: 1px solid #ccc;
  text-align: center;
  margin: 20px 0 30px;
}

.offer .row {
  margin-top: 60px;
  margin-left: 10px;
}

.icon-container {
  width: 270px;
  text-align: center;
  margin-left: 80px;
}

.offer h3 {
  margin-top: 25px;
  text-align: center;
}

.round {
  background-color: #70ccd8;
  border-radius: 300px;
  padding: 15px 20px 10px;
  line-height: 1;
  color: #fff;
  font-size: 60px;
  &:hover {
    -webkit-transition: background 600ms ease;
    -moz-transition: background 600ms ease;
    -ms-transition: background 600ms ease;
    -o-transition: background 600ms ease;
    transition: background 600ms ease;
    background: #e069a9;
  }
}

header {
  color: #000;
  font-weight: bold;
  position: relative;
  .menu-container {
    background: image-url('grid.png');
    padding:12px;
    a {
      color: #666;
      font-size: 14px;
      font-weight: normal;
      text-decoration: none;
      padding: 14px;
    }
    a:hover {
      color: #222;
      text-decoration: none;
    }
  }
  .container {
    width: 940px;
    padding: 10px 100px;
    h1#site-name {
      font-family: 'PT Sans', sans-serif;
      text-transform: uppercase;
      text-align: center;
      line-height: 1;
      color: #444;
      margin: 40px 0 0;
      font-size: 48px;
    }
    a {
      color: #000;
      font-weight: normal;
      font-family: 'PT Sans', sans-serif;
      text-decoration: none;
      padding: 14px;
    }
    a:hover {
      color: #000;
      text-decoration: none;
    }
  }
  #logo {
    margin: 0;
    font-size: 24px;
  }
  ul {
    text-align: center;
    width: 266px;
    list-style: none;
    margin: auto;
    li {
      float: left;
      padding: 2px 0px;
    }
    li:after {
      content: '•';
      color: #aaa;
    }
    li:last-child:after { 
      content: '';
    }
  }
}

#banner {
  background-color: #852A2C;
  padding: 20px 100px;
  font-weight: normal;
  font-style: italic;
  color: #FFF;
  background: -webkit-gradient(linear, left top, left bottom, from(#A03133), to(#722324));
  background: -moz-linear-gradient(top,  #A03133, #722324);
  -moz-box-shadow: 0 2px 8px 2px #000;
  -webkit-box-shadow: 0 2px 6px 2px #000;
  margin-bottom: 30px;
  p {
    margin: 0;
    padding-top: 32px;
    font-size: 34px;
    &.font-size-small {
      padding-top: 10px;
      font-size: 20px;
      color: #EAA29F;
    }
  }
}

a {
  padding: 3px 0;
  -o-transition: 300ms;
  -ms-transition: 300ms;
  -moz-transition: 300ms;
  -webkit-transition: 300ms;
  transition: 300ms; /* ...and now for the proper property */}
 
  a:hover { text-decoration: none; }

#body_content {
  position: relative;
  #body {
    margin: 25px 100px;
  }
  .image-align-left {
    margin-right: 40px;
  }
  #side_body {
    position: absolute;
    top: 0;
    right: 100px;
    width: 250px;
    p {
      color: #777;
      font-size: 14px;
    }
  }
}

footer {
  font-size: 12px;
  color: #000;
  clear: both;
}